/*****
Flex Grid Container 
*****/

.flexGridRow {
	display: flex;
}

.flexGridRow--wrap {
	flex-wrap: wrap;
}

/* Horizontal alignment options */

.flexGridRow--pushLeft { 
	justify-content: flex-start; /* Default */
}

.flexGridRow--pushRight {
	justify-content: flex-end;
}

.flexGridRow--spaceEvenly {
	justify-content: space-evenly;
}


/* Vertical alignment options */

.flexGridRow--alignTop {
	align-items: flex-start; /* Default */
}

.flexGridRow--alignCenter {
	align-items: center;
}

.flexGridRow--alignBottom {
	align-items: flex-end;
}

.flexGridRow--stretch {
	align-items: stretch;
}

/* Container alignment options */

.flexGridRow--groupTop {
	align-content: flex-start; /* Default */
}

.flexGridRow--groupBottom {
	align-content: flex-end;
}

.flexGridRow--groupCenter {
	align-content: center;
}

.flexGridRow--groupStretch {
	align-content: stretch;
}

/*****
Flex Grid Cell 
*****/